*.gem
*.rbc
*.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.so
*.o
*.a
mkmf.log
.idea/
capybara-*.html
.rspec
/log
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
.env
/.bundle
/vendor/bundle
.rvmrc
bower.json
.powenv
.byebug_history
